 .container1{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 90vh;
        animation: animate 16s ease-in-out infinite;
        background-size: cover;
      }

      .outer1{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 90vh;
        background: rgba(0,0,0,0.5)
      }

      .details{
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-100%, -50%);
        text-align: center;
      }

      .details h1{
        font-size: 4em;
        color: #fff;
      }

      .details h2{
        text-transform: capitalize;
        color: #fff;
      }

      .details h2 span:nth-child(1){
        color: #fff;
      }

      .details h2 span:nth-child(2){
        color: #fff;
      }
.styles_module_HeroCarousel__1xAAq {
    font-family: Quicksand,sans-serif;
    color: #fff;
}
.styles_LinkButton__3neir.styles_whiteBorder__3hCBb {
    border: 2px solid #fff;
    color: #fff!important;
}
.styles_LinkButton__3neir {
    padding: 1rem 1rem;
    border-radius: 10rem;
    font-weight: 600;
    font-size: 1.8rem;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all .25s ease;
    font-family: Open Sans,sans-serif;
}
.styles_LinkButton__3neir.styles_whiteBorder__3hCBb:hover {
    color: #000!important;
    background: #0076B3;
    border-color: #0076B3;
    text-decoration: none;}
      @keyframes animate{
        0%,100%{
          background-image: url(../img/banner3.jpg);
          background-position: center center;
        }
        33%{
          background-image: url(../img/banner2.jpg);
          background-position: center center;
        }
        50%{
          background-image: url(../img/banner3.jpg);
          background-position: center center;
        }
        75%{
          background-image: url(../img/banner1.jpg);
          background-position: center center;
        }
      }
      @media only screen and (max-device-width: 768px) {
        .details{
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .details h1{
        font-size: 3em;
        color: #fff;
      }
        .styles_LinkButton__3neir {

    border-radius: 10rem;
    font-weight: 600;
    font-size: 1.8rem;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: all .25s ease;
    font-family: Open Sans,sans-serif;
}
      @keyframes animate{
        0%,100%{
          background-image: url(../img/b1.png);
          background-position: center center;
        }
        33%{
          background-image: url(../img/b2.jpg);
          background-position: center center;
        }
        50%{
          background-image: url(../img/b1.png);
          background-position: center center;
        }
        75%{
          background-image: url(../img/b3.jpg);
          background-position: center center;
        }
      }
    }